<%= stylesheet_link_tag "navbar", "home_page", "products" %>
<% @title="Flybit" %>

<div class="container">
  <% if notice %>
    <p class="alert alert-info" id = "notice"><%= notice %></p>
  <% end %>
  <div class="row content">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <% @sliders.drop(1).each_with_index do |slider, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index + 1 %>" ></li>
          <% end %>
        </ol>
     
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <a href="<%= @sliders.first.url if !@sliders.first.nil? %>">
              <%= cl_image_tag @sliders.first.image, :width => 1200, :height => 315, :background => "white", :crop=>"pad" if @sliders.exists? %>
              <div class="carousel-caption">
                  <h3><%= @sliders.first.title %></h3>
              </div>
            </a>
          </div>
          <% @sliders.drop(1).each do |slider| %>
            <div class="item">
              <a href="<%= slider.url %>">
                <%= cl_image_tag slider.image, :width => 1200, :height => 315, :background => "white", :crop=>"pad" %>
                <div class="carousel-caption">
                    <h3><%= slider.title %></h3>
                </div>
              </a>
            </div>
          <% end %>
        </div>
     
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-line text-center">
    <div class="col-md-12">
      <span class="row-line-text">Discounts</span>
      <hr class="hr-tag">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @discount_products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>

  <div class="row row-line text-center">
    <span class="row-line-text">Special offers</span>
    <hr class="hr-tag">
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @special_products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>

  <div class="row row-line text-center">
    <span class="row-line-text">Top products</span>
    <hr class="hr-tag">
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @top_products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</div>            