<%= stylesheet_link_tag "navbar" %>

<div class="container well">
    <div class="col-md-6">
      <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab1default" data-toggle="tab">Orders</a></li>
                      <li><a href="#tab2default" data-toggle="tab">Edit profile</a></li>
                      <li><a href="#tab3default" data-toggle="tab">Security</a></li>
                  </ul>
          </div>
          <div class="panel-body">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab1default">
                    <h2><%= current_user.email %></h2>
                  </div>
                  <div class="tab-pane fade" id="tab2default">Orders</div>
                  <div class="tab-pane fade" id="tab3default">
                    <h2>Edit <%= resource_name.to_s.humanize %></h2>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>

                      <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="field">
                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                      </div>

                      <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>

                      <div class="field">
                        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, autocomplete: "off" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "Update" %>
                      </div>

                    <% end %>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
