<%= stylesheet_link_tag "navbar" %>

<div class="container main-content">
  <div class="well">
    <div class="row"><!-- uer email and links -->
      <div class="col-md-12">
        <div class="panel panel-default">
                    <div class="panel-heading">
              <h3 class="text-center email-title"><%= current_user.email %></h3>
            </div>
          <div class="panel-body">
            
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <%= link_to "Browse shop", departments_path, class: "btn btn-primary btn-lg outline" %>
              </div>
              <div class="col-md-4 col-sm-4">
                <%= link_to "show cart and checkout", cart_path(session[:cart_id]),  method: :get, class: "btn btn-primary btn-lg outline center-block" %>
              </div>
              <div class="col-md-4 col-sm-4">
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-lg outline pull-right" %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><!-- edit profile -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit profile</h3>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Delete my account</h3>
          </div>
          <div class="panel-body">
            <h4>Warning, there is no way of undoing this action!</h4>
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><!-- orders table -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
          </div>
          <div class="panel-body">
            <% if current_user.orders.exists? %>
              <% current_user.orders.each do |order| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <% case order.status # a_variable is the variable we want to compare
                      when "Placed"    
                        label_color = "label label-info" 
                      when "Changed"    
                        label_color = "label label-warning" 
                      when "Shipped"    
                        label_color = "label label-primary" 
                      when "Received"    
                        label_color = "label label-success"
                      end %>
                    <h3 class="panel-title"><%= order.created_at.strftime("%d %b. %Y %H:%M") %> | Status: <span class="<%= label_color %>"><%= order.status  %></span></h3> 
                  </div>
                   <div class="panel-body">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Title</th>
                          <th>Quantity</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% order.line_items.each do |line_item| %>
                          <tr>
                            <td class="col-md-5">
                              <%= cl_image_tag line_item.product.attachments.first.image, :width => 250, :background => "white", :crop=>"pad", class: "img-responsive" %>
                            </td>
                            <td class="col-md-5">
                              <%= link_to line_item.product.title, product_path(line_item.product) %>
                            </td>
                            <td class="col-md-1">
                              <%= line_item.quantity %>
                            </td>
                            <td class="col-md-1">
                              €<%= line_item.total_price %>
                            </td>
                          </tr>
                        <% end %>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Total: <%= order.total_price %></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <% end %>
              <% else %>
              <p>You haven't placed any orders yet, feel free to browse out shop</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
