<h2 id = "sign_up">Sign up</h2>

<br/>
<br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br/>
    <%=  f.email_field :email, autofocus: true, :size => 50, :placeholder => "example@example.com", :style => "text-align: center" %>
  </div>

  <br/>
  <br/>


  <div class="field">
    <div class = "wrap">
      <div class = "pass_pos">
        <%= f.label :password %><span class =  "glyphicon glyphicon-question-sign"></span>
        <div id = "stuck_help">Password has to be at least 8 characters long</div>
        <% if @minimum_password_length %><% end %>
        <%= f.password_field :password, autocomplete: "off", :size => 30, :style => "text-align: center" %>
        </div>
        
        
  
    </div>
  </div>

  <br/>

  <div class="field">
    <div class = "pass_pos">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", :size => 30, :style => "text-align: center" %>
    </div>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
