<%= stylesheet_link_tag "navbar", "devise/registrations" %>
<div class="container">
<div class="row content">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="form-signup"> 
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>      
    <%= devise_error_messages! %>
      <h2 class="form-signin-heading text-center">Sign up</h2>
      <%=  f.email_field :email, autofocus: true, :size => 50, :placeholder => "Email Address", :style => "text-align: center", class: "form-control" %> 
      <%= f.password_field :password, autocomplete: "off", :size => 30, :placeholder => "Password", :style => "text-align: center", class: "form-control" %> 
      <%= f.password_field :password_confirmation, autocomplete: "off", :size => 30, :placeholder => "Password confirmation", :style => "text-align: center", class: "form-control" %>
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>  
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
</div>

<%#= render "devise/shared/links" %>
