<div class="col-md-1">
  <div class="left-side-navbar">
    <ul class="nav nav-pills nav-stacked pull-left" >
      <li><%= link_to t('.home'),    root_url %></li>
      <li><%= link_to t('.products'),   root_url %></li>
      <li><%= link_to t('.products'),   root_url %></li>
    </ul>
  </div>
</div>


<!--
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Contact", contact_path %></li>
-->