<!--<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a> -->

  <button class="btn btn-default dropdown-toggle glyphicon glyphicon-user" type="button" data-toggle="dropdown" style = "margin-top: 2%;"><b> Login</b>
    <span class="caret"></span></button>

  <ul id="login-dp" class="dropdown-menu">
    
    <li>
      
      <div class="row">
        <div class="col-md-12">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="email_login">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="pass_login">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="pass_remember_login">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <a id = "no-account" class="btn btn-sq-lg btn-primary " <%= link_to new_user_registration_path do %>
          Register</a>
          <% end %>
        </div>
      </div>
    </li>
  
  </ul>
</li>



