<nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" <%= link_to "logo",    root_url %> </a>

    <li class="dropdown">
         <a <%= link_to "Computers", categories_path(selected: "1") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Personal computers</a></li>
        <li><a href="#">Laptops</a></li>
        <li class="divider"></li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Tablets & eBooks", categories_path(selected: "2") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Computers", categories_path(selected: "3") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Multimedia", categories_path(selected: "4") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Lapptops", categories_path(selected: "5") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>


   <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><a> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </a></li>
    <% else %>
      <%= render 'shared/static_page/login_form' %>
    <% end %>
  </ul>
</nav>
