<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class = "navbar-header">
      
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "butter_image" %>      <!-- Navbar bilde ar linku uz sÄkumu-->
      <% end %>

      <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse" style = "color: white;">
        Kategorijas un Login
      </button>
  </div> 

      <div class = "navbar-collapse collapse">
        <ul class = "nav navbar-nav">
          <% cache 'dep_and_cat_list' do %>
            <%= render 'shared/static_page/dep_and_cat_list' %>
          <% end %>
        </ul>
      <div>
     

 <!-- NEEDS PATH TO USER CART! -->
 <span id = "login_cart_right_float">
  <div class = "cart_login_margin_from_right">
   <ul class="nav navbar-nav navbar-right">

     <!-- Cart  -->
      <% if @cart  && controller.controller_name != 'carts' && controller.controller_name != 'charges' %>
        <li class="cart-button-li">
            <%= link_to navbar_cart_path, { method: :get, remote: true, class: "btn btn-primary dropdown-toggle", "id": "cart-button", "type": "button", "data-toggle": "dropdown" }  do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="badge" id="cart-badge-id" ><%="#{@cart.line_items_count}" %></span>
            <% end %>
            <ul class="dropdown-menu" id="cart-dropdown">
              <div id="cart">
                <p class ="text-center">Loading...</p>
              </div>
            </ul>
        </li>
      <% end %>
      <!--End of cart-->
      <li>
        <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <li><p class="navbar-text">Login or register</p></li>
            <%= render 'shared/static_page/login_form' %>
        <% end %>
      </li>
    </ul>
  </span>
  </ul>
</div>
</nav>