<nav class="navbar navbar-default" data-spy="affix" data-offset-top="0">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" style = "text-decoration: none;" <%= link_to "logo", root_path %> </a>

    <li class="dropdown">
         <a <%= link_to "Computers", categories_path(selected: "1") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Cases</a></li>
        <li><a href="#">Cooling</a></li>
        <li><a href="#">Memory (RAM)</a></li>
        <li><a href="#">Motherboards</a></li>
        <li><a href="#">Power supplies</a></li>
        <li><a href="#">Processors</a></li>
        <li><a href="#">Video cards</a></li>
        <li><a href="#">Sound cards</a></li>
        <li><a href="#">Storage</a></li>
        <li class="divider"></li>
        <li><a href="#">Pre-built PCs</a></li>
        <li><a href="#">All-in-one PCs</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Tablets", categories_path(selected: "2") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Apple</a></li>
        <li><a href="#">Samsung</a></li>
        <li><a href="#">Microsoft</a></li>
        <li><a href="#">Lenovo</a></li>
        <li><a href="#">Asus</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Dell</a></li>
        <li><a href="#">Acer</a></li>
        <li class="divider"></li>
        <li><a href="#">7 inches</a></li>
        <li><a href="#">8 inches</a></li>
        <li><a href="#">9 inches</a></li>
        <li><a href="#">10 inches</a></li>
        <li><a href="#">12 inches</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Laptops & Notebooks", categories_path(selected: "3") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Apple</a></li>
        <li><a href="#">Dell</a></li>
        <li><a href="#">HP</a></li>
        <li><a href="#">Lenovo</a></li>
        <li><a href="#">Asus</a></li>
        <li><a href="#">Acer</a></li>
        <li><a href="#">Alienware</a></li>
        <li><a href="#">Sony</a></li>
        <li><a href="#">Toshiba</a></li>
        <li class="divider"></li>
        <li><a href="#">Windows</a></li>
        <li><a href="#">Mac OS</a></li>
        <li><a href="#">Chrome OS</a></li>
        <li><a href="#">No OS</a></li>
        <li class="divider"></li>
        <li><a href="#">Less than $500</a></li>
        <li><a href="#">$500 - $1000</a></li>
        <li><a href="#">$1000+</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Accessories", categories_path(selected: "4") %> </a>
      <ul class="dropdown-menu">
        <li class="nav-header">Computers</li>
        <li><a href="#">Mice</a></li>
        <li><a href="#">Keyboards</a></li>
        <li><a href="#">Headphones</a></li>
        <li><a href="#">Microphones</a></li>
        <li class="divider"></li>
        <li class="nav-header">Tablets</li>
        <li><a href="#">Cases</a></li>
        <li><a href="#">Styluses</a></li>
        <li><a href="#">Storage</a></li>
        <li class="divider"></li>
        <li class="nav-header">Laptops & Notebooks</li>
        <li><a href="#">Cooling</a></li>
        <li><a href="#">Chargers</a></li>
        <li><a href="#">Webcams</a></li>
        <li><a href="#">Carrying bags</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Wrist rests</a></li>

      </ul>
    </li>

    <li class="dropdown">
      <a <%= link_to "Laptops", categories_path(selected: "5") %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li>
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <input id="search-box" type="text" class="search-box" name="q" />
          <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
        <input type="submit" id="search-submit" />
      </form>
    </li>
  </ul>

  <!-- Cart  -->
  <div class="dropdown">
    <a <%= link_to "Shopping cart" %> </a>
    <ul class="dropdown-menu">
      <div id = "cart">
        <% if @cart %>
            <%= render @cart %>

        <% end %>
      </div>
    </ul>
  </div>

 <!-- NEEDS PATH TO USER CART! -->


   <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><a> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </a></li>
    <% else %>
      <%= render 'shared/static_page/login_form' %>
    <% end %>
  </ul>
</nav>