<nav class="navbar navbar-default" data-spy="affix">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" style = "text-decoration: none;" <%= link_to "logo", root_path %> </a>
      <% cache 'dep_and_cat_list_cache' do %>
        <%= render 'shared/static_page/dep_and_cat_list' %>
      <% end %>

    <li>
      </ul>
    </li>



    <li>
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <input id="search-box" type="text" class="search-box" name="q" />
          <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
        <input type="submit" id="search-submit" />
      </form>
    </li>

  

   <!-- Cart  -->
      <% if @cart %>
        <li id="cart-button">
            <button class="btn btn-primary dropdown-toggle" type = "button" data-toggle="dropdown" style = "margin-left: 50%;"><b><%= link_to "Shopping cart" %></b><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <div id="cart">
                <%= render @cart %>
              </div>
            </ul>
        </li>
      <% end %>

   </ul>

 <!-- NEEDS PATH TO USER CART! -->


   <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><a> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </a></li>
    <% else %>
      <%= render 'shared/static_page/login_form' %>
    <% end %>
  </ul>
</nav>