<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class = "navbar-header">
      <img class="img-responsive butter_image" src=<%= asset_path ("logo.png") %> alt="Chania" style = "max-width: 150px;">
    <!--<a class="navbar-brand" <%= link_to root_path %> </a>-->
      <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse" style = "color: white;">
        Kategorijas un Login
      </button>
  </div> 

      <div class = "navbar-collapse collapse">
        <ul class = "nav navbar-nav">
          <% cache 'dep_and_cat_list' do %>
            <%= render 'shared/static_page/dep_and_cat_list' %>
          <% end %>
        </ul>
      <div>
     

 <!-- NEEDS PATH TO USER CART! -->
 <div id = "cart_login_margin_from_right">
   <ul class="nav navbar-nav navbar-right">
     <!-- Cart  -->
    <% if @cart  && controller.controller_name != 'carts' %>
      <li id="cart-button-li">
          <%= link_to navbar_cart_path, { method: :get, remote: true, class: "btn btn-primary dropdown-toggle", "id": "cart-button", "type": "button", "data-toggle": "dropdown" }  do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="badge" id="cart-badge-id" ><%="#{@cart.line_items_count}" %></span>
          <% end %>
          <ul class="dropdown-menu">
            <div id="cart">
              <p class ="text-center">Loading...</p>
            </div>
          </ul>
      </li>
    <% end %>
      <li>
      <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
        <% else %>
          <%= render 'shared/static_page/login_form' %>
      <% end %>
    </li>
  </ul>
</div>
</nav>