<nav class="navbar navbar-default" data-spy="affix">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" style = "text-decoration: none;" <%= link_to "logo", root_path %> </a>
      <% cache 'dep_and_cat_list_cache' do %>
        <%= render 'shared/static_page/dep_and_cat_list' %>
      <% end %>

    <li>
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <input id="search-box" type="text" class="search-box" name="q" />
          <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
        <input type="submit" id="search-submit" />
      </form>
    </li>
    
   </ul>

 <!-- NEEDS PATH TO USER CART! -->
   <ul class="nav navbar-nav navbar-right">
     <!-- Cart  -->
    <% if @cart  && controller.controller_name != 'carts' %>
      <li id="cart-button-li">
          <%= link_to navbar_cart_path, { method: :get, remote: true, class: "btn btn-primary dropdown-toggle", "id": "cart-button", "type": "button", "data-toggle": "dropdown" }  do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="badge" ><%="#{@cart.line_items_count}" %></span>
          <% end %>
          <ul class="dropdown-menu">
            <div id="cart">
              <%#= render @cart %>
            </div>
          </ul>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= render 'shared/static_page/login_form' %>
      <% end %>
    </li>
  </ul>
</nav>