<% if @cart.line_items.blank? %>
	<div class="row text-center">
		Your cart is empty
	</div>
	<%= link_to "Browse shop", departments_path, class: "btn btn-primary btn-sm btn-block" %>
<% else %>
<div class="cart-table">
		<table class="table table-bordered table-responsive">
		 <thead>
	    <tr>
	    	<th>Image</th>
	      <th>Product title</th>
	      <th>Price</th>
	      <th>Quantity</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @cart.line_items.each do |line_item| %>
		    <tr>
		    	<td class="cart-image">
		    		<%= link_to line_item.product do %> 
		    			<% image_tag line_item.product.attachments.first.image.url(:thumbnail) %>
		    		<% end %> 
		    	</td>
		      <td >
		      	<%= link_to line_item.product.title, product_path(line_item.product) %></td>
		      <td>
		      	<% if !line_item.product.discount.nil? %>
		      		€<%= line_item.product.price - line_item.product.discount %>
		      	<% else %>
							€<%= line_item.product.price %>
						<% end %>
		      </td>
		      <td><%= line_item.quantity %></td>
		    </tr>
		   <% end %>
		   	<tr>
		   		<th></th>
		    	<th></th>
		   		<th>Total:</th>
		    	<th><b>€ <%= @cart.total_price %></b></th>
		    </tr>
	  </tbody>
	</table>
</div>
<div class="row">
	<div class="col-md-6 col-xs-6">
		<%= link_to "show cart and checkout", cart_path(session[:cart_id]),  method: :get, class: "btn btn-primary btn-lg outline" %>
	</div>
	<div class="col-md-6 col-xs-6">
		<%= button_to "empty", empty_line_items_cart_path(session[:cart_id]), remote: true, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary btn-lg outline pull-right"  if !@cart.line_items.blank? %>
	</div>
</div>
<% end %>