<%= stylesheet_link_tag "navbar", "footer" %>
<div class="container content">
	<div class="row">
		<div class="col-md-offset-4 col-md-5 col-sm-offset-3 col-sm-7 col-xs-offset-2 col-xs-8">
			<div class="panel panel-default">
      <div class="panel-heading text-center"> <strong>Send us a message</strong>
      </div>
      <div class="panel-body text-center">
					<%= form_for @support_message do |f| %>
					<p>Write any suggestions, questions and we will respond to you via email address you indicated </p>
					<hr>
					  <%= f.email_field :email, :placeholder => "Email Address" %><br /><br />

					  <%= f.text_area :content, :placeholder => "Message", :style => "resize: none; width: 300px; height: 150px;" %><br />
					  <hr>
					  <%= f.submit "Send", class: "btn btn-default" %>
					<% end %>
        </div>
        <div class="panel-footer">
        </div>
      </div>
		</div>
	</div>
</div>
