<div class="col-sm-6 col-lg-3 col-xs-12 col-md-4 thumb">
  <div class="thumb-info">
    <%= link_to product do %>
      <%= image_tag(product.attachments.first.image.url(:thumbnail)) %>
    <% end if product.attachments.exists?  %>
    <% if !product.discount.blank? %>
     <div class="ribbon"><span>-<%= number_to_percentage(product.discount_percent(product.price, product.discount), precision: 0) %></span></div>
     <% end %>
      <div class="button-row">
        <div class="col-md-6 sharp pull-right">
          <%= button_to "Add to cart", line_items_path(product_id: product), remote: true, class: "btn btn-primary btn-lg sharp" %>
        </div>
        <div class="col-md-6 sharp pull-left">
          <%= link_to "More info", product_path(product), class: "btn btn-primary btn-lg sharp" %>
        </div>
      </div>
    <div class"col-md-12">
      <p class="text-center title"><%= link_to product.title, product_path(product) %></p>
    </div>
    <div class="col-md-12">
      <% if !product.discount.blank? %>
        <h3 class="price text-center" <% if !product.discount.blank? %> style="text-decoration: line-through;" <% end %> >€<%= product.price %> </h3>
        <hr class="hr-price">
        <h3 class="price text-center">€<%= product.price - product.discount %></h3>
        <% else %>
          <h3 class="price text-center" style="padding-bottom: 24px;">€<%= product.price %></h3>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <% if !product.product_attributes.empty? %>
      <div class="row">
      <table class="table table-hover table-responsive">
        <tbody>
          <% product.product_attributes.first(6).each do |attribute| %>
            <tr>
              <th scope="row"><%= attribute.title %></th>
              <td class="over-flow"><%= attribute.details %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      </div>
    <% end %>
  </div>
</div>