<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <div class="thumbnail">
    <%= link_to product do %>
        <img class="img-responsive"> <%= image_tag(product.attachments.first.image.url) if product.attachments.exists? %></img>
      <div class="text-under-thumbnail">
       <% end %>

        <h6><%= product.title %></h6>
        
				<%= link_to " More info", product, class: "btn btn-default glyphicon glyphicon-info-sign" %> 


			<h3>€<%= product.price %><h3>
        <%= button_to " Add to cart", line_items_path(product_id: product), remote: true, class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
      </a>
      </div>
  </div>
</div>