<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <div class="thumbnail">
    <%= link_to product do %>
      <img class="img-responsive" src=<%= product.image.url(:thumb) %> alt="">
      <div class="text-under-thumbnail">
       <% end %>

       	<%= link_to product do %>
        	<h6><%= product.title %></h6>
        <% end %>


				<%= link_to " More info", product, class: "btn btn-default glyphicon glyphicon-info-sign" %> 


			<h3>€<%= product.price %><h3>
        <%= link_to " Add to cart", carts_add_path, class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
      </a>
      </div>
  </div>
</div>