<%= stylesheet_link_tag "navbar" %>
<% @title="Flybit - #{@current_category}" %>
<h4><%= @current_category %></h4>
<%= will_paginate %>
<div="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<%= render @products %>
	</div>
	<div class="col-md-1"></div>
</div>
<%= will_paginate %>