<%= stylesheet_link_tag "navbar" %>
<%= form_tag search_path, method: 'get' do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-4 col-xs-4">
			</div>
			<div class="col-md-4 col-xs-4">
				<%= will_paginate %>
			</div>
			<div class="col-md-4 col-xs-4">
			</div>
		</div>
		<% if @products.blank? %>
		  <h4>There are no products containing the term "<%= params[:search] %>"</h4>
		<% else %>
		  <%= render @products %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-4 col-xs-4">
		</div>
		<div class="col-md-4 col-xs-4">
			<%= will_paginate %>
		</div>
		<div class="col-md-4 col-xs-4">
		</div>
	</div>
	<div class="col-md-1"></div>
</div>