<% @title="Flybit - #{@product.title}" %>
<%= stylesheet_link_tag "navbar", "product_show_page", "chocolat"%>
<%= javascript_include_tag "jquery.chocolat" %>
<div class="container">

  <h2><%= @product.title %></h2>

	<div class="row">
		<div class="col-md-8 col-sm-8">
		  <div class="chocolat-parent" data-chocolat-title="set title" loop="true">
		    <a class="chocolat-image" href="<%= asset_path(@product.attachments.first.image.url) %>" title="<%= @product.title %>">
		        <%= cl_image_tag @product.attachments.first.image, :width => 500, :background => "white", :crop=>"pad" %>
		    <% if !@product.discount.blank? %>
		     	<div class="ribbon"><span>-<%= number_to_percentage(@product.discount_percent(@product.price, @product.discount), precision: 0) %></span></div>
		     <% end %>
		    </a>
				<div class="row">
					<% if !@product.attachments.drop(1).empty? %>
						<hr>
						<% @product.attachments.drop(1).each do |attachment| %>
					    <a class="chocolat-image img-thumbnail" href="<%= attachment.image.url %>" title="<%= @product.title %>">
					        <%= cl_image_tag @product.attachments.first.image, :width => 50, :background => "white", :crop=>"pad" %>
					    </a>
				    <% end %>
			    <% end %>
				  <hr>
				</div>
			</div>
		</div>
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<% if !@product.discount.blank? %>
			        <h3 class="price text-center" <% if !@product.discount.blank? %> style="text-decoration: line-through;" <% end %> >€<%= @product.price %> </h3>
			        <hr class="hr-price">
			        <h3 class="price text-center">€<%= @product.price - @product.discount %></h3>
			        <% else %>
			          <h3 class="price text-center" style="padding-bottom: 24px;">€<%= @product.price %></h3>
			      <% end %>
					</div>
					<div class="col-md-6 col-sm-6">
						<%= button_to line_items_path(product_id: @product), remote: true, class: "btn btn-default btn-lg outline" do %>
							<i>Add to cart</i>
						<% end %>
					</div>
				</div>
				<hr>	
				<div class="row description-text">
					<%= @product.description %>
					<hr>
				</div>
			</div>
	</div><!--End of row -->
<% if !@product.product_attributes.empty? %>
	<div class="row">
	<table class="table table-hover table-responsive">
	  <tbody>
	  	<% @product.product_attributes.each do |attribute| %>
		    <tr>
		      <th scope="row"><%= attribute.title %></th>
		      <td><%= attribute.details %></td>
		    </tr>
		    <% end %>
	  </tbody>
	</table>
	</div>
<% end %>

<script>
	$('.chocolat-parent').Chocolat();
</script>




        

    
