<% @title="Flybit - #{@product.title}" %>
<%= stylesheet_link_tag "navbar" %>
<ul>
	<li>Title: <%= @product.title %></li>
	<li>Description: <%= @product.description %></li>
	<li>Price: <%= @product.price %></li>
	<% @product.attachments.each do |attachment| %>
		<%= image_tag(attachment.image.url(:thumbnail)) %>
		<% end %>
	<li><%= @product.details_title %></li>
	<%= button_to " Add to cart", line_items_path(product_id: @product), remote: true, class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
</ul>
