<%= stylesheet_link_tag "navbar", "checkout" %>
<% @title="Flybit - Checkout" %>

<div class="container">
	<div class="row text-center">
		<h2></h2>
		
	</div>
	<div class="row">
	    <div class="panel panel-default">
	    	<div class="panel-heading text-center">
	    		<h2 class="panel-title">Checkout summary</h2>
	    		Please check details of your order before placing it
	    	</div>
				<table class="table table-bordered table-responsive">
					 <thead>
			      <tr>
			        <th>Product title</th>
			        <th>Price per one</th>
			        <th>Quantity</th>
			        <th>Total price for porduct</th>
			      </tr>
			    </thead>
				  <tbody>
				  	<% @cart.line_items.each do |line_item| %>
					    <tr>
					      <td><%= line_item.product.title %></td>
					      <td>€<%= line_item.product.price_with_discount(line_item.product.price, line_item.product.discount) %></td>
					      <td><%= line_item.quantity %></td>
					      <td>€<%= line_item.total_price %></td>
					    </tr>
					   <% end %>
					   	<tr>
					   		<td></td>
					   		<td></td>
					   		<th>Total:</th>
					    	<th><span class="label label-warning" style="font-size: 15pt">€ <%= @cart.total_price %></span></th>
					    </tr>
				  </tbody>
				</table>
			</div>
	</div>

	<div class="row">
		<div class="col-md-7 col-md-offset-5">
			<%= link_to "Back", cart_path(session[:cart_id]), class: "btn btn-primary btn-lg outline back-button" %>
		</div>
	</div>

	<div class="row">
	  <div class="panel panel-default">
	  	<div class="panel-heading text-center">
	  		<h2 class="panel-title">Choose payment method</h2>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-4 col-sm-4 col-xs-4">
	  		</div>
	  		<div class="col-md-4 col-sm-4 col-xs-4">
	  			<div class="col-md-6 col-sm-6 col-xs-6">
			  		<%= render "braintree"  if !@cart.line_items.empty? %>
			  	</div>
			  	<div class="col-md-6 col-sm-6 col-xs-6">
						<%= render "stripe"  if !@cart.line_items.empty? %>
					</div>
	  		</div>
	  		<div class="col-md-4 col-sm-4 col-xs-4">
	  		</div>
			</div>
		</div>
	</div>

</div>

        

