<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
    <%= favicon_link_tag 'melns.png' %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

    <div id="header">
      <%= render 'shared/static_page/navbar' %>
    </div><!-- #header -->
    
    <div id="content">
      <%= yield %>
    </div><!-- #content -->
    
    <div id="footer">
      <%= render 'shared/static_page/footer' %>
    </div><!-- #footer -->
    
  </div><!-- #wrapper -->
</body>
</html>