<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
		<%= render 'shared/static_page/navbar' %>

</head>
<body>
	<div class="container-fluid">
<!-- Rendering left or right side navbars! -->
			<%= yield %>

	</div>
</body>
<footer>
	<!-- Rendering footer! -->
</footer>
</html>
