<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
    <%= favicon_link_tag 'melns.png' %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= render 'shared/static_page/navbar' %>
</head>
<body>
	<div>
<!-- Rendering left or right side navbars! -->

			<%= yield %>
      

	</div>
</body>
<footer>
    <% render 'shared/static_page/footer' %>
</footer>
</html>
