<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="jumbotron">
	  <h1>INTERNĀT ŠHOP</h1>
	</div>
		<%= render 'shared/static_page/navbar' %>
		<div class="container-fluid">
			<div class="row">
				<%= render 'shared/static_page/left_side_navbar' %>
				<%= yield %>
				<%= render 'shared/static_page/right_side_navbar' %>
			</div>
		</div>
	</div>
</body>
<footer>
	<%= render 'shared/static_page/footer' %>
</footer>
</html>
